.index-title {
  font-size: 100px;
}
.fz-7{
  font-size: 12px;
}
a:hover{
  transform: scale(1.02);
}
.content{
  width: calc(100% - 296px);
  margin-left:auto ;
}
.modelhw{
  max-width: 480px;
  margin: 0 auto;
}
.inputhw{
  height: 51px;
}
